group Server
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget System.Net.NetworkInformation
  nuget Microsoft.AspNetCore
  nuget Microsoft.AspNetCore.StaticFiles
  nuget Fable.Remoting.Giraffe
  nuget Fable.JsonConverter

  nuget Sodium.Core
  nuget TypeShape
  nuget FParsec
  nuget FSharp.Control.FusionTasks.FS41
  nuget VaultSharp

  nuget Proto.Actor
  nuget Proto.Actor.Extensions
  nuget Proto.Mailbox 
  nuget Proto.Router
  nuget Proto.Remote 
  nuget Proto.Persistence
  nuget Proto.Cluster
  nuget Proto.Cluster.Consul
  nuget Proto.Schedulers.SimpleScheduler
  nuget Proto.Cluster.WeightedMemberStrategy 
  nuget Proto.Persistence.Sqlite 
  nuget Proto.Serialization.Wire 

  github cotyar/protoactor-fsharp:dev

  clitool Microsoft.DotNet.Watcher.Tools

group Client
  source https://api.nuget.org/v3/index.json

  nuget Fable.Core
  nuget Fable.Elmish.Browser
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
  nuget Fable.Remoting.Client

  clitool dotnet-fable
  clitool Microsoft.DotNet.Watcher.Tools

group ServerTests
  source https://nuget.org/api/v2
  storage:none
  clitool Microsoft.DotNet.Watcher.Tools
  nuget FSharp.Core redirects: force
  nuget Expecto

group UITests
  source https://nuget.org/api/v2
  framework >= net461
  nuget FSharp.Core redirects: force
  nuget Canopy
  nuget Expecto
  nuget phantomjs
group Build
  source https://nuget.org/api/v2
  framework >= net461
  nuget FAKE