group Server
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget System.Net.NetworkInformation
  nuget Microsoft.AspNetCore = 2.0.1
  nuget Microsoft.AspNetCore.StaticFiles = 2.0.1
  nuget Microsoft.AspNetCore.Hosting.Abstractions = 2.0.1
  nuget Microsoft.Extensions.Hosting.Abstractions = 2.0.1
  nuget Microsoft.AspNetCore.Authentication.Abstractions = 2.0.1
  nuget Microsoft.AspNetCore.Http = 2.0.1
  nuget Microsoft.AspNetCore.Http.Extensions = 2.0.1
  nuget Microsoft.AspNetCore.Http.Abstractions = 2.0.1
  nuget Microsoft.AspNetCore.Authentication.Core = 2.0.1
  nuget Microsoft.AspNetCore.Cryptography.Internal = 2.0.1
  nuget Microsoft.AspNetCore.DataProtection.Abstractions = 2.0.1
  nuget Microsoft.AspNetCore.Diagnostics.Abstractions = 2.0.1
  nuget Microsoft.AspNetCore.Hosting.Server.Abstractions = 2.0.1
  nuget Microsoft.AspNetCore.Http.Features = 2.0.1
  nuget Microsoft.AspNetCore.Server.Kestrel = 2.0.1
  nuget Microsoft.AspNetCore.Server.Kestrel.Core = 2.0.1
  nuget Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions 2.0.1
  nuget Microsoft.AspNetCore.WebUtilities = 2.0.1
  nuget Microsoft.Net.Http.Headers = 2.0.1
  nuget Microsoft.AspNetCore.WebSockets = 2.0.1
  nuget Microsoft.AspNetCore.TestHost = 2.0.1

  nuget FSharp.Control.Reactive
  nuget FSharp.Control.AsyncSeq
  nuget FSharpx.Extras

  nuget Fable.Remoting.Giraffe
  nuget Fable.JsonConverter

  nuget Sodium.Core
  nuget TypeShape
  nuget FParsec
  nuget FSharp.Control.FusionTasks.FS41
  nuget VaultSharp

  nuget Proto.Actor
  nuget Proto.Actor.Extensions
  nuget Proto.Mailbox 
  nuget Proto.Router
  nuget Proto.Remote 
  nuget Proto.Persistence
  nuget Proto.Cluster
  nuget Proto.Cluster.Consul
  nuget Proto.Schedulers.SimpleScheduler
  nuget Proto.Cluster.WeightedMemberStrategy 
  nuget Proto.Persistence.Sqlite 
  nuget Proto.Serialization.Wire 

  github cotyar/protoactor-fsharp:dev src/Proto.Actor.FSharp/Proto.FSharp.fs 
  github cotyar/protoactor-fsharp:dev src/Proto.Actor.FSharp.Persistence/Proto.FSharp.Persistence.fs  

  nuget Akka = 1.3.5
  nuget Akka.Streams = 1.3.5
  nuget Akka.Persistence = 1.3.5
  nuget Akka.Persistence.Sqlite
  nuget Akka.Persistence.Sql.Common
  nuget Akka.Persistence.Query
  nuget Akka.Persistence.Query.Sql
  nuget Akka.Cluster
  nuget Akka.Cluster.Tools

  nuget Akkling.Streams
  nuget Akkling.Persistence

  clitool Microsoft.DotNet.Watcher.Tools

group Client
  source https://api.nuget.org/v3/index.json

  nuget Fable.Core
  nuget Fable.Elmish.Browser
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
  nuget Fable.Remoting.Client

  clitool dotnet-fable
  clitool Microsoft.DotNet.Watcher.Tools

group ServerTests
  source https://nuget.org/api/v2
  storage:none
  clitool Microsoft.DotNet.Watcher.Tools
  nuget FSharp.Core redirects: force
  nuget Argu
  nuget Expecto

group UITests
  source https://nuget.org/api/v2
  framework >= net461
  nuget FSharp.Core redirects: force
  nuget Canopy
  nuget Expecto
  nuget phantomjs
group Build
  source https://nuget.org/api/v2
  framework >= net461
  nuget FAKE