<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Streams as Streams">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{Streams.info}}
                </h1>
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <h2>Create stream</h2>
                        <span>create new stream by selecting </span>
                        <button class="btn btn-danger  dim " type="button"><i class="fa fa-plus"></i> <span class="bold">Add stream</span></button>
                        button
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>