<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chessie" version="0.4.0" targetFramework="net452" />
  <package id="FSharp.Control.AsyncSeq" version="2.0.3" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.7" targetFramework="net452" />
  <package id="FSharpx.Collections" version="1.14.0" targetFramework="net452" />
  <package id="FsPickler" version="2.0.0" targetFramework="net452" />
  <package id="FsPickler.Json" version="2.0.0" targetFramework="net452" />
  <package id="MBrace.Core" version="1.1.6" targetFramework="net452" />
  <package id="MBrace.Flow" version="1.1.6" targetFramework="net452" />
  <package id="MBrace.Runtime" version="1.1.6" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Streams" version="0.4.1" targetFramework="net452" />
  <package id="Vagabond" version="0.12.9" targetFramework="net452" />
</packages>