<div class="wrapper wrapper-content animated fadeInRight" ng-controller="admin as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Users</h5>
                    <button type="button" ng-click="createUser()" class="btn btn-primary btn-xs pull-right">Create User</button>
                    <!--<div ibox-tools></div>-->
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>IP</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="user in vm.users | pagination:(userPage-1)*10 | limitTo:10">
                            <td class="project-title">{{user.userId}}</td>
                            <td>{{user.data.firstName}}</td>
                            <td>{{user.data.lastName}}</td>
                            <td>{{user.data.userName}}</td>
                            <td class="project-title">{{user.data.emailAddress}}</td>
                            <td class="project-title">{{user.data.ipAddress}}</td>
                            <td>User</td>



                            <!--<td><i class="fa fa-clock-o"></i> 11:20pm</td>-->
                            <!--<td>-->
                                <!--<span ng-repeat="role in user.Roles" class="label label-primary">{{role}}</span>-->
                                <!--&lt;!&ndash;<small>{{user.name}}</small>&ndash;&gt;-->
                            <!--</td>-->
                            <td class="text-navy">
                                <button type="button" ng-click="editUser(user.Id)" class="btn btn-primary btn-xs">EditUser</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <uib-pagination total-items="vm.users.length" ng-model="userPage"
                                    max-size="maxSize" class="pagination-sm" boundary-links="true"
                                    num-pages="numPages"></uib-pagination>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-2">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox-title">-->
                    <!--<h5>Roles</h5>-->
                    <!--<div ibox-tools></div>-->
                <!--</div>-->
                <!--<div class="ibox-content">-->
                    <!--<ul class="todo-list m-t small-list">-->
                        <!--<li ng-repeat="role in roles">-->
                            <!--&lt;!&ndash;<checkbox ng-model="main.checkOne"></checkbox>&ndash;&gt;-->
                            <!--<span class="m-l-xs">{{role.Name}}</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
