<div class="modal-body">
    <div class="row">
        <div class="col-lg-12"><h3 class="m-t-none m-b">Create User {{ username }}</h3>

            <p>Sign in today for more expirience.</p>

            <form role="form">
                <div class="form-group"><label>ID</label> <input type="text" ng-model="modal.guid" disabled class="form-control"></div>
                <div class="form-group"><label>First Name</label> <input type="text" ng-model="modal.firstName" placeholder="enter first name" class="form-control"></div>
                <div class="form-group"><label>Last Name</label> <input type="text" ng-model="modal.lastName" placeholder="enter last name" class="form-control"></div>
                <div class="form-group"><label>User Name</label> <input type="text" ng-model="modal.userName" placeholder="enter user name" class="form-control"></div>
                <div class="form-group"><label>Email</label> <input type="email" ng-model="modal.email" placeholder="enter email" class="form-control"></div>

                <div class="form-group"><label>Password(mnemonic)</label> <input type="text" ng-model="modal.password" class="form-control"></div>
                <div class="form-group"><label>Hex password(mnemonic)</label> <input type="text" ng-model="modal.hexPass" class="form-control"></div>
                <div>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-click="ok()"><strong>Create</strong></button>
                    <!--<label> <input icheck type="checkbox" ng-model="main.unCheck"> Remember me </label>-->
                </div>
            </form>
        </div>

    </div>
</div>
