<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Clusters as clasters">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{clasters.info}}
                </h1>
                <br/>
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <h2>If you don't find cluster</h2>
                        <span>create new cluster by selecting </span>
                        <button class="btn btn-danger  dim " type="button"><i class="fa fa-plus"></i> <span class="bold">Add cluster</span></button>
                        button
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>