<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Nodes as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center">
                        <h2>Create node</h2>
                        <span>create new node by selecting
                        </span>
                        <button class="btn btn-danger  dim " type="button">
                            <i class="fa fa-plus"></i>
                            <span class="bold" ng-click="vm.addNode()">Add node</span>
                        </button>
                        button
                        <!--{{vm.nds}}-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-4 col-lg-3" ng-repeat="node in vm.nodes track by $index">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation" style="padding: 45px 0; cursor:pointer;" ng-click="vm.showNode(node)">
                                <i class="fa fa-table img-circle fa-5x"></i>
                            </div>
                            <div class="product-desc">
                                <span class="product-price" style="background-color:#1ab394;">
                                    Active
                                </span>
                                <small class="text-muted">Port: {{node.data.address.port}}
                                </small>
                                <a ng-click="vm.showNode(node)" class="product-name">Name:
                                    {{node.name}}</a>

                                <div class="small m-t-xs">
                                    <b>ID:
                                    </b>
                                    {{node.id}}
                                </div>
                                <div class="m-t text-righ" ng-click="vm.showNode(node)">

                                    <a ng-click="vm.showNode(node)" class="btn btn-xs btn-outline btn-primary">Info
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
