<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argu" version="2.1" targetFramework="net452" />
  <package id="Chessie" version="0.5.1" targetFramework="net452" />
  <package id="Flurl" version="1.0.10" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FsPickler" version="2.0.0" targetFramework="net452" />
  <package id="FsPickler.Json" version="2.0.0" targetFramework="net452" />
  <package id="FsWebAddRegistryEntries" version="0.1.1.0" targetFramework="net452" />
  <package id="MBrace.Core" version="1.1.6" targetFramework="net452" />
  <package id="MBrace.Flow" version="1.1.6" targetFramework="net452" />
  <package id="MBrace.Runtime" version="1.1.6" targetFramework="net452" />
  <package id="MBrace.Thespian" version="1.1.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.OData" version="5.9.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net452" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net452" />
  <package id="MSBuild.Extension.Pack" version="1.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Streams" version="0.4.1" targetFramework="net452" />
  <package id="Swashbuckle.Core" version="5.3.2" targetFramework="net452" />
  <package id="Swashbuckle.OData" version="2.18.0" targetFramework="net452" />
  <package id="Thespian" version="0.1.10-alpha" targetFramework="net452" />
  <package id="Vagabond" version="0.12.9" targetFramework="net452" />
</packages>