<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{steps[0].data.pageTitle}}</h2>
        <!--<h2>{{steps[0].ncyBreadcrumbLabel}}</h2>-->
       <!--{{steps[0]}}--> 
        <ol class="breadcrumb">
            <!-- <li>
              <a ui-sref="index.admin">Admin</a>
            </li> -->
            <li ng-repeat="step in steps | limitTo:(steps.length-1)">
                <a href="#{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel}}</a>
            </li>
            <li ng-repeat="step in steps | limitTo:-1" class="active">
                <span >{{step.ncyBreadcrumbLabel}}</span>
            </li>
        </ol>
    </div>

</div>
