<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a ui-sref="exchanges.dashboard" style="background:white;padding: 0px 30px;" class="navbar-brand"><span class="clear">
                <img alt="image" style="height: 55px" src="wwwroot/assets/img/avalanchain.png">
                    <!--<span class="block m-t-xs">
                         <strong class="font-bold">{{main.userName}}</strong>
                 </span>
                    <span class="text-muted text-xs block">Menu<b class="caret"></b></span>-->
                </span></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-top-links navbar-nav">
                <li class="active" style="background:white;">
                    <a ui-sref="index.admin" style="color:#C7413E" href="#">Admin Panel </a>

                </li>
                <li ui-sref-active="active">
                    <a ui-sref="wallet.wallet">Account</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="wallet.transactions">Transactions</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="wallet.bridge">Bridge</a>
                </li>
                <!-- <li>
                    <a ui-sref="exchanges.trader">Trader</a>
                </li> -->
                <!-- <li uib-dropdown>
                    <a href uib-dropdown-toggle> Transactions <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a href="#">Send</a></li>
                        <li><a href="#">Audit</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Certification</a>
                </li> -->
                <!--<li uib-dropdown>
        <a href uib-dropdown-toggle> Settings <span class="caret"></span></a>
        <ul role="menu" uib-dropdown-menu>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
        </ul>
    </li>-->
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html" style="color:#676a6c">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
