<div class="wrapper wrapper-content animated fadeInRight" ng-controller="admin as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{admin.info}}
                </h1>
                <br />
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <h2>If you don't find users</h2>
                        <span>create new user by selecting </span>
                        <button ng-click="openModal()" class="btn btn-danger  dim " type="button"><i class="fa fa-plus"></i> <span class="bold">Create User</span></button>
                        button
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
