source https://www.nuget.org/api/v2

framework: >= net461
nuget FAKE
nuget FSharp.Core
nuget FSharp.Data

nuget FsPickler = 3.3
nuget FsPickler.Json = 3.3
nuget FsPickler.CSharp = 3.3

nuget Microsoft.Data.Sqlite 

nuget Akkling.Cluster.Sharding
nuget Akkling.DistributedData
nuget Akkling.Persistence
nuget Akkling.Streams
nuget Akkling.TestKit

nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions

nuget deniszykov.WebSocketListener

nuget Suave

nuget FSharp.Interop.Dynamic
nuget jose-jwt
nuget Jint
nuget Microsoft.FSharpLu
nuget Microsoft.FSharpLu.Json

nuget Inferno
nuget BouncyCastle
nuget dlech.Chaos.NaCl

nuget FSharp.Configuration
nuget Topshelf
nuget Argu

source https://www.myget.org/F/akkadotnet/api/v3/index.json

nuget Akka >= 1.3.3-beta459 prerelease
nuget Akka.Streams >= 1.3.3-beta459 prerelease
nuget Akka.Persistence >= 1.3.3-beta459 prerelease
nuget Akka.Persistence.Sqlite >= 1.3.3-beta459 prerelease
nuget Akka.Persistence.Sql.Common >= 1.3.3-beta459 prerelease
nuget Akka.Persistence.Query >= 1.3.3-beta459 prerelease
nuget Akka.Persistence.Query.Sql >= 1.3.3-beta459 prerelease
nuget Akka.Remote >= 1.3.3-beta459 prerelease
nuget Akka.TestKit >= 1.3.3-beta459 prerelease
nuget Akka.TestKit.Xunit2 >= 1.3.3-beta459 prerelease
nuget Akka.Cluster >= 1.3.3-beta459 prerelease
nuget Akka.Cluster.Sharding >= 1.3.3-beta459 prerelease
nuget Akka.Cluster.Tools >= 1.3.3-beta459 prerelease
nuget Akka.DistributedData >= 1.3.3-beta459 prerelease
nuget Akka.DistributedData.LightningDB >= 1.3.3-beta459 prerelease

nuget Akka.Streams.Csv
nuget Akka.Streams.Xml
nuget Akka.Streams.SignalR

source https://www.myget.org/F/romcyber/api/v3/index.json
nuget Suave.Swagger

nuget Spreads = 1.0.0-alpha1

nuget LightningDB = 0.10.0
