source https://www.nuget.org/api/v2

framework: >= net461
nuget FAKE
nuget FSharp.Core
nuget FSharp.Data

nuget FsPickler = 3.3
nuget FsPickler.Json = 3.3
nuget FsPickler.CSharp = 3.3

nuget Microsoft.Data.Sqlite 

nuget Akkling.Cluster.Sharding
nuget Akkling.DistributedData
nuget Akkling.Persistence
nuget Akkling.Streams
nuget Akkling.TestKit

nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions

nuget deniszykov.WebSocketListener

nuget Suave

nuget FSharp.Interop.Dynamic
nuget jose-jwt
nuget Jint
nuget Microsoft.FSharpLu
nuget Microsoft.FSharpLu.Json

nuget Inferno
nuget BouncyCastle
nuget dlech.Chaos.NaCl

nuget FSharp.Configuration
nuget Topshelf
nuget Argu

nuget DotNetty.Buffers = 0.4.6
nuget DotNetty.Codecs = 0.4.6
nuget DotNetty.Common = 0.4.6
nuget DotNetty.Handlers = 0.4.6
nuget DotNetty.Transport = 0.4.6


nuget Akka 
nuget Akka.Streams 
nuget Akka.Persistence 
nuget Akka.Persistence.Sqlite 
nuget Akka.Persistence.Sql.Common 
nuget Akka.Persistence.Query 
nuget Akka.Persistence.Query.Sql 
nuget Akka.Remote 
nuget Akka.TestKit 
nuget Akka.TestKit.Xunit2 
nuget Akka.Cluster 
nuget Akka.Cluster.Sharding 
nuget Akka.Cluster.Tools 
nuget Akka.DistributedData 
nuget Akka.DistributedData.LightningDB 

nuget Akka.Streams.Csv
nuget Akka.Streams.Xml
nuget Akka.Streams.SignalR

source https://www.myget.org/F/romcyber/api/v3/index.json
nuget Suave.Swagger

nuget Spreads = 1.0.0-alpha1

nuget LightningDB = 0.10.0
