<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" style="background: url('/assets/css/patterns/shattered.png') no-repeat;padding: 0px 30px;" class="navbar-brand"><span class="clear">
                <img alt="image" style="height: 55px" src="/assets/img/avalanchain.png">
                    <!--<span class="block m-t-xs">
                         <strong class="font-bold">{{main.userName}}</strong>
                 </span>
                    <span class="text-muted text-xs block">Menu<b class="caret"></b></span>-->
                </span></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a ui-sref="index.admin" href="#" >To Admin </a>

                </li>
                <li>
                    <a href="#">Main</a>
                </li>
                <li uib-dropdown>
                    <a href uib-dropdown-toggle> Transactions <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a href="#">Send</a></li>
                        <li><a href="#">Audit</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Certification</a>
                </li>
                <li uib-dropdown>
                    <a  href uib-dropdown-toggle> Settings <span class="caret"></span></a>
                    <ul role="menu" uib-dropdown-menu>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
