<div class="wrapper wrapper-content animated fadeInRight" ng-controller="dashboard as vm">
    <div class="row">

        <div class="col-lg-3">
            <div ui-sref="index.accounts" style="cursor: pointer" class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Accounts</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{mdata.accounts.length}}
                    </h1>

                    <div class="stat-percent font-bold text-navy">UP <i class="fa fa-level-up"></i></div>
                    <small>New users</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div ui-sref="index.clusters" style="cursor: pointer" class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Today</span>
                    <h5>Clusters</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{mdata.clusters.length}}</h1>

                    <div class="stat-percent font-bold text-info"> UP <i class="fa fa-level-up"></i></div>
                    <small>New orders</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div ui-sref="index.nodes" style="cursor: pointer" class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Today</span>
                    <h5>Nodes</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{mdata.nodes.length}}</h1>

                    <div class="stat-percent font-bold text-success">UP <i class="fa fa-level-up"></i></div>
                    <small>Total income</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div ui-sref="index.chains" style="cursor: pointer" class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Today</span>
                    <h5>Chains</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{mdata.streams.length}}</h1>

                    <div class="stat-percent font-bold text-warning">UP <i class="fa fa-level-up"></i></div>
                    <small>New orders</small>
                    {{vm.system.length}}
                    {{vm.users.length}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Transactions</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="vm.flotMultiData" options="vm.flotMultiOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-3" ng-repeat="currency in vm.currencies">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{currency.Rate}}</span>
                    <h5>{{currency.symbol}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <!--<h5 class="m-b-md">{{currency.Name}}</h5>-->
                            <h2 class="{{currency.status}}" style="font-size: 15px;">
                                <i class="{{currency.navigation}}"></i>{{" "+ currency.ask+" |"}} <!--<i class="{{currency.navigation}}"></i>-->{{" "+currency.bid}}
                            </h2>
                            <small>{{currency.dt | date : 'medium'}}</small>
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-info btn-xs" ng-click="openModal(currency,'BUY') ">BUY</button>
                            <button type="button" class="btn btn-success btn-xs" ng-click="openModal(currency,'SELL')" >SELL</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
