<div class="modal-body">
    <div class="row">
        <div class="col-lg-12"><h3 class="m-t-none m-b"><i class="fa fa-code-fork"></i> Fork</h3>

            <p>fork new chain</p>

            <form role="form">
                <div class="form-group"><label>Parent</label> <input type="text" ng-model="modal.parent" disabled class="form-control"></div>
                <div class="form-group"><label>First Name</label> <input type="number" ng-model="modal.position" placeholder="position" class="form-control"></div>

                <!--<div class="form-group"><label>Password(mnemonic)</label> <input type="text" ng-model="modal.password" class="form-control"></div>-->
                <!--<div class="form-group"><label>Hex password(mnemonic)</label> <input type="text" ng-model="modal.hexPass" class="form-control"></div>-->
                <div>
                    <button class="btn btn-sm btn-white pull-right m-t-n-xs" type="submit" ng-click="ok()"><strong>Fork</strong></button>
                    <!--<label> <input icheck type="checkbox" ng-model="main.unCheck"> Remember me </label>-->
                </div>
            </form>
        </div>

    </div>
</div>
